form{
    max-width: 400px;
    /* centramos el formulario*/
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(116, 172, 172);
    border: 1px solid #000000;
    border-radius: 5px;
}
form label{
    /*background: blue;*/
    display: block;
    margin-bottom: 1px;
    font-weight: bold;
}
form input[type="text"],
form input[type="email"],
form input[type="password"],
textarea{
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #000000;
    border-radius: 4px;
    box-sizing: border-box; /* para que el padding no afecte al ancho total */
}
form input[type="submit"]{
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}